<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="SAP.Middleware.Connector">
      <sectionGroup name="ClientSettings">
        <section name="DestinationConfiguration" type="SAP.Middleware.Connector.RfcDestinationConfiguration,sapnco" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <SAP.Middleware.Connector>
    <ClientSettings>
      <DestinationConfiguration>
        <destinations>
          <!--<add NAME="Salcomp" USER="salcomptest" PASSWD="123456" CLIENT="199" LANG="EN" ASHOST="ciu20.ad.salcomp.com" SYSNR="50" MAX_POOL_SIZE="10" IDLE_TIMEOUT="60" />-->
          <add NAME="Salcomp" USER="ALEPORTAL" PASSWD="welcome" CLIENT="199" LANG="EN" ASHOST="213.28.45.54" SYSNR="10" MAX_POOL_SIZE="10" IDLE_TIMEOUT="60" />
        </destinations>
      </DestinationConfiguration>
    </ClientSettings>
  </SAP.Middleware.Connector>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpRuntime targetFramework="4.0" />
    </system.web>
  <appSettings>
    <!--<add key="ConnStr" value="Data Source=inmaamesdev;Initial Catalog=salcompmes;Persist Security Info=True;User ID=sa;Password=Root@123;" />-->
    <add key="ConnStr" value="Data Source=inmaames02;Initial Catalog=salcompmes;Persist Security Info=True;User ID=sfcswrite;Password=mes@admin;" />
   </appSettings>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
  </configuration>
